body {
  font-family: arial, sans-serif;
  display: block;
}

h1 {
  color: #878787;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  display: block;
  text-align: center;
  max-width: 600px;
}

.form-control {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.btn {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
  margin-bottom: 30px;
  margin-top: -15px;
}

#temperature {
  color: rgb(33, 33, 33);
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
  margin-left: 20px;
}
.units {
  color: rgb(33, 33, 33);
  position: relative;
  font-size: 16px;
  top: -8px;
  text-decoration: none;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  cursor: default;
  color: rgb(33, 33, 33);
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
